@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: black;
}

.about-text {
    flex: 1;
    padding-right: 50px;
    margin-left: 1em;
}

.about-text h2 {
    color: gray;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-text p {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-text h3 {
    color: gray;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
    
}

.about-text ul {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    padding-left: 20px; /* Adjusted padding */
}

.about-image {
    flex: 1;
    max-width: 50%;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Red shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Include box-shadow in the transition */
}

.about-image img:hover {
    transform: scale(1.01);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.7); /* Red shadow on hover */
}

/* Media Queries for responsive design */
@media only screen and (max-width: 768px) {
    .about-section {
        flex-direction: column;
        padding: 30px 0;
    }

    .about-text, .about-image {
        max-width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .about-text {
        margin-bottom: 30px;
    }

    .about-text h2 {
        font-size: 28px;
    }

    .about-text p, .about-text h3, .about-text ul {
        font-size: 16px;
    }

    .about-text ul {
        padding-left: 10px; /* Adjusted padding */
        text-align: left;
    }

    .about-section:nth-child(odd) {
        order: 1; /* Change order for odd numbered sections */
    }

    .about-section:nth-child(even) {
        order: 2; /* Change order for even numbered sections */
    }
}

.newsletter-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Red shadow */
    display: none; /* Hide initially */
}

.newsletter-prompt h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.newsletter-prompt p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.newsletter-prompt.show {
    display: block; /* Show when 'show' class is added */
}

.prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter-button {
    display: flex;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    align-self: flex-end;
    align-items: baseline;
}

.sub{
    display: flex;
    align-self: end;
}

.newsletter-button:hover {
    background-color: #000000;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    color: red;
}
