*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-image: none;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a:hover{
    color: red;
}

/* Header Section */

header{
    position: relative;
    padding: 0 2rem;
}

nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

nav .links {
    display: flex;
    gap: 2rem;
}

nav .toggle_button{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_button{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_button:hover{
    scale: 1.05;
    color: red;
}

.action_button:active{
    scale: 0.95;
}

/* DROP DOWN */
.drop_down{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.drop_down.open{
    height: 240px;
}
.drop_down li{
    padding: 0.7rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.drop_down .action_button{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE AREA FOR PRODUCT HTML */
@media (max-width: 992px){
    nav .links,
    nav .action_button{
        display: none;
    }

    nav .toggle_button{
        display: block;
    }

    .drop_down{
        display: block;
    }
}

@media (max-width: 500px) {
    .drop_down{
        left: 2rem;
        width: unset;
    }
}