*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: none;
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
    border: 1px solid black;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: black;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: black;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display:inline-block;
    margin-bottom: 0.5rem;
    background: blue;
    color: white;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: yellow;
}
.product-rating span{
    font-weight: 600;
    color: black;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: red;
    text-decoration: line-through;
}
.new-price span{
    color: blue;
}

.product-detail h2{
    text-transform: capitalize;
    color: black;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin:0;
    list-style: none;
    background: url(/COMP1002-FinalProject/views/images/product/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid grey;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input {
    width:60px;
}
.purchase-info .btn {
    cursor: pointer;
    color: white;
}
.purchase-info .btn:first-of-type{
    background: blue;
}
.purchase-info .btn:last-of-type{
    background: red;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: black;
    border: 1px solid black;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: black;
    border-color: transparent;
    color: white;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a:hover{
    color: red;
}

/* Header Section */

header{
    position: relative;
    padding: 0 2rem;
}

nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

nav .links {
    display: flex;
    gap: 2rem;
}

nav .toggle_button{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_button{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_button:hover{
    scale: 1.05;
    color: red;
}

.action_button:active{
    scale: 0.95;
}

/* DROP DOWN */
.drop_down{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.drop_down.open{
    height: 240px;
}
.drop_down li{
    padding: 0.7rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.drop_down .action_button{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE AREA FOR PRODUCT HTML */
@media (max-width: 992px){
    nav .links,
    nav .action_button{
        display: none;
    }
@media screen and (min-width:992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:1.5rem
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

    nav .toggle_button{
        display: block;
    }

    .drop_down{
        display: block;
    }
}

@media (max-width: 500px) {
    .drop_down{
        left: 2rem;
        width: unset;
    }
}