<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Here you can find more about who are we, what we do and so on">
    <meta name="keywords" content="About us, N64, NES, nintendo, Nintendo Vault, retro, video games">
    <link rel="stylesheet" href="../views/styles/about/about_style.css">
    <script defer src="../models/global/favicon.js"></script>
    <title>About Us</title>
</head>
<body>
    <header></header>
    <main>
        <section class="about-section">
            <div class="about-text">
                <h2>The Legacy of Nintendo Vault</h2>
                <p>Welcome to Nintendo Vault, where we cherish the timeless charm of vintage technology. Our journey began with a passion for nostalgia and a love for the intricate craftsmanship of bygone eras.</p>
                <p>Every device in our collection tells a story – from the humble beginnings of the transistor radio to the revolutionary breakthroughs of early computing. We invite you to embark on a voyage through time, where innovation and creativity flourished long before the digital age.</p>
                <h3>Our Mission</h3>
                <p>At Nintendo Vault, we're dedicated to preserving the heritage of vintage electronics and sharing their magic with the world. Our mission is to connect generations, spark curiosity, and inspire appreciation for the artistry and innovation of the past.</p>
            </div>
            <div class="about-image">
                <img src="./images/about/about_us.png" alt="Vintage Electronics">
            </div>
        </section>
        <section class="about-section">
            <div class="about-image">
                <img src="./images/about/insights.png" alt="Achievements">
            </div>
            <div class="about-text">
                <h2>Insights & Achievements</h2>
                <p>Throughout our journey, Nintendo Vault has achieved significant milestones and gained valuable insights into the world of vintage technology. From expanding our collection to fostering a vibrant community of enthusiasts, here are some highlights of our achievements:</p>
                <ul>
                    <li>Curated an extensive collection of rare and iconic vintage electronics.</li>
                    <li>Hosted engaging events and workshops to educate and inspire enthusiasts.</li>
                    <li>Featured in prominent publications for our commitment to preserving retro technology.</li>
                    <li>Established partnerships with renowned museums and collectors worldwide.</li>
                </ul>
            </div>
        </section>
        <div class="newsletter-prompt">
            <div class="prompt">
                <h2>Subscribe to Our Newsletter</h2>
                <p>Stay up to date with our latest offers and updates!</p>
                <div class="sub">
                    <button class="newsletter-button" id="subscribe-button">Subscribe</button>
                    <button class="newsletter-button" id="cancel-button">Cancel</button>
                </div>
            </div>
        </div>
        <script src="../global/load_header_and_footer.js"></script>
        <script src="../models/about/index.js"></script>
    </main>
    <footer></footer>
</body>
</html>