<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


    <link rel="stylesheet" href="../views/styles/product/product_style.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- HEADER CONFIGURATION START -->
    <header>

    </header>
    <!-- HEADER CONFIGURATION END -->
    <div class="space"></div>
    <!-- MAIN BODY CONFIGURATION START -->
    <section class="card-wrapper">
        <div class="card">

            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="/views/images/product/1.png" alt="nintendo">
                        <img src="/views/images/product/2.png" alt="nintendo">
                        <img src="/views/images/product/3.png" alt="nintendo">
                        <img src="/views/images/product/4.png" alt="nintendo">
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="/views/images/product/1.png" alt="nintendo">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="2">
                            <img src="/views/images/product/2.png" alt="nintendo">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="3">
                            <img src="/views/images/product/3.png" alt="nintendo">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="4">
                            <img src="/views/images/product/4.png" alt="nintendo">
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-content">
                <h2 class="product-title">Nintendo 64</h2>
                <a href="#" class="product-link">Visit the Nintendo 64 Store</a>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.7(21 Reviews)</span>
                </div>

                <div class="product-price">
                    <p class="last-price">Old Price: <span>$257.00</span></p>
                    <p class="new-price">New Price: <span>$249.00 (5%)</span></p>
                </div>

                <div class="product-detail">
                    <h2>About this item: </h2>
                    <p>The Nintendo 64, often abbreviated as N64, is a video game console developed and manufactured by
                        Nintendo. It was released in 1996 in Japan and North America and in 1997 in Europe and
                        Australia. The N64 was the successor to the Super Nintendo Entertainment System (SNES) and
                        competed with other consoles of its generation, primarily the Sony PlayStation and the Sega
                        Saturn.</p>
                    <p>The Nintendo 64 (N64) is a video game console released by Nintendo in 1996. It featured 64-bit
                        architecture, cartridge-based games, and the iconic three-pronged controller with an analog
                        stick. Known for its strong lineup of first-party titles like Super Mario 64 and The Legend of
                        Zelda: Ocarina of Time, as well as popular multiplayer experiences, the N64 left a lasting
                        impact on gaming culture despite being discontinued in 2002.</p>
                    <ul>
                        <li>Color: <span>Black</span></li>
                        <li>Available: <span>In stock</span></li>
                        <li>Category: <span>Retro Consoles</span></li>
                        <li>Shipping Area: <span>All over the world</span></li>
                        <li>Shipping Fee: <span>Free</span></li>
                    </ul>
                </div>

                <div class="purchase-info">
                    <input type="number" min="0" value="1">
                    <button type="button" class="btn">
                        Add to Cart <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button type="button" class="btn">Compare</button>
                </div>

                <div class="social-links">
                    <p>Share At: </p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="../models/product/product_page_script.js"></script>
    <script src="../models/global/load_header_and_footer.js"></script>
</body>
<!-- MAIN BODY CONFIGURATION END -->

<div class="space"></div>

<!-- FOOTER CONFIGURATION START -->
<footer>
</footer>
<!-- FOOTER CONFIGURATION END -->

</html>