<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="images/product/favicon.png">
    <link rel="stylesheet" href="./styles/product/style.css"> 
    <title>Product</title>
</head>
<body>
    <header>
        <nav>
            <section class="logo">
                <a href="#">Nintendo Vault</a>
            </section>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <a href="#" class="action_button">Click Me</a>
            <section class="toggle_button">
                <i class="fa-solid fa-bars"></i>
            </section>
        </nav>
        <section class="drop_down">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#" class="action_button">Click Me</a></li>
            </ul>
        </section>
    </header>
    
    <main>
        <section class="card-wrapper">
            <section class="card">
                <!-- LEFT CARD -->
                <section class="product-imgs">
                    <section class="img-display">
                        <section class="img-showcase">
                            <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                            <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                            <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                            <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                        </section>
                    </section>
                    <section class="img-select">
                        <div class="img-item">
                            <a href="#" data-id="1">\
                                <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="2">\
                                <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="3">\
                                <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="4">\
                                <img src="./images/product/nintendo_big_image.png" alt="nintendo">
                            </a>
                        </div>
                    </section>
                </section>
            </section>
            <section class="product-content">
                <h2 class="product-title">Nike Ink</h2>
                <a href="#" class="product-link">visit visit visit</a>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.7(21)</span>
                </div>
                <div class="product-price">
                    <p class="last-price">Old Price: <span>$257</span></p>
                    <p class="new-price">New Price: <span>$150 (5%)</span></p>
                </div>
                <div class="product-detail">
                    <h2>about this item</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur cum optio odio quos voluptatum, qui, laudantium pariatur fuga recusandae quod error tempora in porro animi dignissimos soluta ex corporis nobis.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda voluptatibus veniam voluptatum harum ipsum officia iusto quas optio, aspernatur doloremque consectetur, enim, architecto explicabo minus repellat cupiditate consequuntur illum at!</p>
                    <ul>
                        <li>Color: <span>Black</span></li>
                        <li>Available:<span>in stock</span></li>
                        <li>Category: <span>shoes</span></li>
                        <li>Shipping Area: <span>All over the world</span></li>
                        <li>Shipping Fee: <span>Best Price of free</span></li>
                    </ul>
                </div>
                <section class="purchase-info">
                    <input type="number" min="0" value="1"> 
                    <button type="button" class="btn">
                        Add to Cart <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button type="button" class="btn">Compare</button>
                </section>
                <div class="social-links">
                    <p>Share at: </p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </section>
        </section>
    </main>
    <script src="/COMP1002-FinalProject/models/product/script2.js"></script>
    <script src="/COMP1002-FinalProject/models/product/script.js"></script>
</body>
</html>
